<!-- START VIDEO CAROUSEL -->
<div class="unusable__block unusable__dark video-carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>We also make awesome <span class="unusable__underline">videos</span></h2>
                <p>If you like our podcast, you might also like these videos we make.</p>
                <p>
                    {% include components/primary_button.liquid, link: '/videos', label: "Our videos" %}
                    {% include components/secondary_button.liquid, link: socials.youtube.url, label: "Watch on YouTube" %}
                </p>
            </div>
        </div>
        <div class="row">
            {% assign threeVideos = videos | limit:3 %}
            {% for video in threeVideos %}
            <div class="col-md-4">
                <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube-nocookie.com/embed/{{ video.id }}"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/{{ video.id }}?autoplay=1><img src=https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg alt='{{ video.title }}'><span>▶</span></a>"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        title="{{ video.title }}"
                        loading="lazy"
                ></iframe>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END VIDEO CAROUSEL -->