<div class="podcast-card">
    <h3 class="podcast-card__title">{{ podcast.data.title }}</h3>
    <p class="podcast-card__episode-number">
        <span class="sr-only">Episode number: </span>{{ podcast.data.number }}
    </p>
    <div class="podcast-card__stats">
        <p class="podcast-card__date">
            <span class="podcast-card__label">Release date: </span> <time datetime="{{ podcast.data.date | machineDate }}">{{ podcast.data.date | readableDate }}</time>
        </p>
        <p class="podcast-card__duration">
            <span class="podcast-card__label">Duration: </span> {{ podcast.data.duration | timeToMinutes }} minutes
        </p>
    </div>
    {% assign image = "podcasts/" | append:podcast.data.number | append:".jpg" %}
    {% image image, "", "podcast-card__image" %}
    <p class="podcast-card__description">{{ podcast.data.description }}</p>
    <a href="{{ podcast.url }}" class="podcast-card__link"><span class="sr-only">{{ podcast.data.title }}</span></a>
</div>